html 
    div
    form(action="/pelisr" method="post")
        p Peliculas:
        p peli #{titulo}
        p descripcion #{descripcion}
        p fecha #{fecha}
        button(class="w-100 btn btn-lg btn-secundary" type="submit" name="back") Regresar